<head>

  <link rel="icon" href="/favicon.png" type="image/png">
  
  {% if site.analytics.google %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "{{ site.analytics.google }}");
  </script>
  <!-- End Google Analytics -->
  {% endif %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <meta name="keywords" content="pasivno investiranje, ulaganje, investicija, etf, kriptovalute, dca, roi, priručnik o ulaganju, knjiga o investiranju, s&p500, fond">
  <!-- Open Graph meta tags for Facebook and LinkedIn -->
  <meta property="og:title" content="Pragmatičan pristup investiranju - put do financijske neovisnosti" />
  <meta property="og:description" content="Naučite o pasivnom ulaganju, ETF-ovima i financijskoj pismenosti, osigurajte svoju financijsku budućnost." />
  <meta property="og:image" content="/favicon.png" />
  <meta property="og:url" content="https://pasivno-investiranje.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Pasivno Investiranje" />
  
  <!-- Twitter meta tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Pragmatičan pristup investiranju - Pametan način ulaganja" />
  <meta name="twitter:description" content="Naučite o pasivnom ulaganju, ETF-ovima i financijskoj pismenosti, osigurajte svoju financijsku budućnost." />
  <meta name="twitter:image" content="/favicon.png" />
  <meta name="twitter:url" content="https://pasivno-investiranje.com/" />
  <meta name="twitter:creator" content="@Invexed" />
  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <title>{% if page.title %}{{ page.title | append: " | " | append: site.title }}{% else %}{{ site.title }}{% endif %}</title>

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Product",
    "name": "Pragmatičan pristup investiranju",
    "description": "E-priručnik i članci o pasivnom ulaganju putem ETF-ova.",
    "brand": {
      "@type": "Brand",
      "name": "M.Fidelis"
    },
    "author": {
      "@type": "Person",
      "name": "M.Fidelis"
    },
    "offers": {
      "@type": "Offer",
      "price": "25.00",
      "priceCurrency": "EUR",
      "availability": "https://schema.org/InStock",
      "url": "https://pasivno-investiranje.com/"
    }
  }
  </script>

  <style>
  .not-hidden {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
</style>
  <h1 class="not-hidden">E-priručnik o pasivnom investiranju i ulaganju u ETF-ove</h1>
  
  <!-- Bootstrap core CSS -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Custom fonts for this template -->
  <link href="assets/css/all.min.css" rel="stylesheet" type="text/css">
  {% if site.data.style.fonts_urls %}
    {% for font_url in site.data.style.fonts_urls %}
      <link href="{{font_url}}" rel="stylesheet" type="text/css">
    {% endfor %}
  {% else %}
    <link href="assets/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  {% endif %}
  <!-- Custom styles for this theme -->
  <!--<link href="assets/css/agency.min.css" rel="stylesheet">-->
  <link href="assets/css/agency.css" rel="stylesheet" />

  <!-- Page container change top padding when nav shrinks -->
  {% if page.layout == "page" %}
  <style>
    #pagecontainer {
      padding-top: 150px;
    }
    @media only screen and (max-width: 991px) {
      #pagecontainer {
        padding-top: 100px;
      }
    }
  </style>
  {% endif %}
</head>
